<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
    <div class="signup-area">
        <div class="container">
            <div class="signup-container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-6">
                        <div class="card">
                            <form id="login-form">
                                <div class="form-title">
                                    <h1>Login</h1>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" id="email" placeholder="Enter Your Email" required/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password1" id="password1" placeholder="Enter Your Password" required/>
                                </div>
                                <div class="login-error error-validation">Username and Password Doesn't match</div>
                                <div class="login-success user-validate">Login Success</div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#login-form').on('submit',function(e){
            e.preventDefault();
            let userSignObj = {
                email:$(this)[0].email.value,
                password:$(this)[0].password1.value
            }
            var formBody = [];
            for (var property in userSignObj) {
            var encodedKey = encodeURIComponent(property);
            var encodedValue = encodeURIComponent(userSignObj[property]);
            formBody.push(encodedKey + "=" + encodedValue);
            }
            formBody = formBody.join("&");
            fetch('/loginAPI',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body:formBody
            })
            .then((response)=>{
                response.json().then((data)=>{
                    console.log(data)
                    if(data.status == 'user_invalid'){
                        $('.login-error').show();
                        setTimeout(()=>{
                            $('.login-error').hide();
                        },2000)
                    }else{
                        sessionStorage.setItem('user_token',data.auth_token)
                        $('.login-success').show();
                        setTimeout(()=>{
                            $('.login-success').hide();
                        },2000)
                        setTimeout(()=>{
                            window.location.href = '/'
                        },3000)
                    }
                })
            }).catch((e)=>{
                console.log(e)
            })
        })
    </script>
</body>
</html>